<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.groupon.web.newRelic.test.NewRelicTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testJVMTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testExractValues</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testTimePicker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testHomePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLoginNewRelic</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
