<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="868c96">  <td>15/11/27 13:37:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>15/11/27 13:38:01</td>   <td>4318</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>15/11/27 13:33:14</td>   <td>-282532</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass(java.lang.String, boolean, java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>15/11/27 13:33:14</td>   <td>-282553</td> <td title="&gt;&gt;BaseTest.beforeSuite(java.lang.String, int, org.testng.ITestContext)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:33:31</td>   <td>-266214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:12</td>   <td>-225082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:17</td>   <td>-219909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:26</td>   <td>-210501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:34</td>   <td>-202988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:51</td>   <td>-186327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:03</td>   <td>-173806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:17</td>   <td>-159491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:34</td>   <td>-143233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:50</td>   <td>-127373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:05</td>   <td>-111757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:25</td>   <td>-91663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:45</td>   <td>-72227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:01</td>   <td>-55785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:17</td>   <td>-40255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:38</td>   <td>-19107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:34</td>   <td>-202985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:51</td>   <td>-186323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:03</td>   <td>-173801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:17</td>   <td>-159486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:34</td>   <td>-143230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:50</td>   <td>-127369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:05</td>   <td>-111752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:25</td>   <td>-91660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:45</td>   <td>-72224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:01</td>   <td>-55780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:17</td>   <td>-40250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:38</td>   <td>-19104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:12</td>   <td>-225077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testHomePage()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testHomePage</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:26</td>   <td>-210497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testJVMTab()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testJVMTab</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:33:31</td>   <td>-266179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testLoginNewRelic(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testLoginNewRelic</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:17</td>   <td>-219902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testTimePicker()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testTimePicker</td> 
  <td>main@71484034</td>   <td></td> </tr>
</table>
