<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="868c96">  <td>15/11/27 13:33:14</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite(java.lang.String, int, org.testng.ITestContext)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>15/11/27 13:33:14</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass(java.lang.String, boolean, java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:33:31</td>   <td>16339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:33:31</td>   <td>16374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testLoginNewRelic(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testLoginNewRelic</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:12</td>   <td>57471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:12</td>   <td>57476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testHomePage()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testHomePage</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:17</td>   <td>62644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:17</td>   <td>62651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testTimePicker()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testTimePicker</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:26</td>   <td>72052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:26</td>   <td>72056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testJVMTab()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testJVMTab</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:34</td>   <td>79565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:34</td>   <td>79568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:51</td>   <td>96226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:34:51</td>   <td>96230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:03</td>   <td>108747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:03</td>   <td>108752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:17</td>   <td>123062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:17</td>   <td>123067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:34</td>   <td>139320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:34</td>   <td>139323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:50</td>   <td>155180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:35:50</td>   <td>155184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:05</td>   <td>170796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:05</td>   <td>170801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:25</td>   <td>190890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:25</td>   <td>190893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:45</td>   <td>210326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:36:45</td>   <td>210329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:01</td>   <td>226768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:01</td>   <td>226773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:17</td>   <td>242298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:17</td>   <td>242303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:38</td>   <td>263446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewRelicTest.init()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&gt;&gt;init</td> 
<td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="f0c4d2">  <td>15/11/27 13:37:38</td>   <td>263449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewRelicTest.testExractValues(java.lang.String)[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">testExractValues</td> 
  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>15/11/27 13:37:57</td>   <td>282553</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterClass()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
<tr bgcolor="868c96">  <td>15/11/27 13:38:01</td>   <td>286871</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.groupon.web.newRelic.test.NewRelicTest@2ea6e962]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@71484034</td>   <td></td> </tr>
</table>
