<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:49</td>   <td>0</td> <td title="&lt;&lt;APIResponseTest.afterSuite()[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1412670249</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-2130</td> <td title="&gt;&gt;APIResponseTest.beforeSuite(java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1412670249</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-2107</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.setUp()[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1412670249</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>-1673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-1013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>-910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
</table>
