<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>0</td> <td title="&gt;&gt;APIResponseTest.beforeSuite(java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1412670249</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.setUp()[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1412670249</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:47</td>   <td>461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APIResponseTest.testData([Ljava.lang.Object;)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&gt;&gt;testData</td> 
<td>&nbsp;</td>  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:48</td>   <td>1221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIResponseTest.checkApiResponse(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">checkApiResponse</td> 
  <td>PoolService-1@1445313678</td>   <td></td> </tr>
<tr bgcolor="b9b2bb">  <td>15/12/09 14:03:49</td>   <td>2130</td> <td title="&lt;&lt;APIResponseTest.afterSuite()[pri:0, instance:com.groupon.web.api.test.APIResponseTest@77036a6b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1412670249</td>   <td></td> </tr>
</table>
