<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Jarvis Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbc5b2">  <td>16/01/29 13:13:00</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite(java.lang.String, int, org.testng.ITestContext)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.HomeTest@52f37721]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985966296</td>   <td></td> </tr>
<tr bgcolor="cc96e8">  <td>16/01/29 13:13:00</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailPageTest.testCustomerOrderDetails()[pri:0, instance:com.groupon.web.jarvis.test.jarvis.OrderDetailPageTest@18bbe4d3]">testCustomerOrderDetails</td> 
  <td>pool-1-thread-2@2078732396</td>   <td></td> </tr>
<tr bgcolor="cc96e8">  <td>16/01/29 13:13:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailPageTest.testEnterCredentials(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.OrderDetailPageTest@18bbe4d3]">testEnterCredentials</td> 
  <td>pool-1-thread-2@2078732396</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>16/01/29 13:13:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.testEnterCredentials(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.HomeTest@52f37721]">testEnterCredentials</td> 
  <td>pool-1-thread-1@2052027792</td>   <td></td> </tr>
<tr bgcolor="cc96e8">  <td>16/01/29 13:13:00</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailPageTest.testPersonalDetails(java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.OrderDetailPageTest@18bbe4d3]">testPersonalDetails</td> 
  <td>pool-1-thread-2@2078732396</td>   <td></td> </tr>
<tr bgcolor="cc96e8">  <td>16/01/29 13:13:00</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailPageTest.testPersonalDetails(java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.OrderDetailPageTest@18bbe4d3]">testPersonalDetails</td> 
  <td>pool-1-thread-2@2078732396</td>   <td></td> </tr>
<tr bgcolor="cc96e8">  <td>16/01/29 13:13:00</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailPageTest.testPersonalDetails(java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.OrderDetailPageTest@18bbe4d3]">testPersonalDetails</td> 
  <td>pool-1-thread-2@2078732396</td>   <td></td> </tr>
<tr bgcolor="cc96e8">  <td>16/01/29 13:13:00</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailPageTest.testSearch(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.OrderDetailPageTest@18bbe4d3]">testSearch</td> 
  <td>pool-1-thread-2@2078732396</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>16/01/29 13:13:00</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.testSearch(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.HomeTest@52f37721]">testSearch</td> 
  <td>pool-1-thread-1@2052027792</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>16/01/29 13:13:00</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.testSearch(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.HomeTest@52f37721]">testSearch</td> 
  <td>pool-1-thread-1@2052027792</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>16/01/29 13:13:00</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.testSearch(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.HomeTest@52f37721]">testSearch</td> 
  <td>pool-1-thread-1@2052027792</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>16/01/29 13:13:00</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.testSearch(java.lang.String, java.lang.String)[pri:0, instance:com.groupon.web.jarvis.test.jarvis.HomeTest@52f37721]">testSearch</td> 
  <td>pool-1-thread-1@2052027792</td>   <td></td> </tr>
<tr bgcolor="cc96e8">  <td>16/01/29 13:13:00</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderDetailPageTest.testclickOnGoogleButton()[pri:0, instance:com.groupon.web.jarvis.test.jarvis.OrderDetailPageTest@18bbe4d3]">testclickOnGoogleButton</td> 
  <td>pool-1-thread-2@2078732396</td>   <td></td> </tr>
<tr bgcolor="e9a1a0">  <td>16/01/29 13:13:00</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.testclickOnGoogleButton()[pri:0, instance:com.groupon.web.jarvis.test.jarvis.HomeTest@52f37721]">testclickOnGoogleButton</td> 
  <td>pool-1-thread-1@2052027792</td>   <td></td> </tr>
</table>
